<% title "Edit Position" %>

<%= render :partial => "populate_script" %>

<h1>Editing position</h1>

<%= render :partial => 'form', :locals => { :button_label => 'Update' } %>

<%= link_to 'Back', @user %>
