<% title "New Position" %>

<%= render :partial => "populate_script" %>

<h1>New Position</h1>

<%= render :partial => 'form', :locals => { :button_label => 'Create' } %>

<%= link_to 'Back', @user %>
