html * {
  font-size: 100.01%;
}

body {
  font: 75% 'Lucida Grande', Verdana, Helvetica, Arial sans-serif;
  background: #258;
}

#margins {
  margin: 0px auto;
  width: 800px;
  background: #FFF;
}

#page {
  padding: 10px;
}

#header {
  position: relative;
  height:80px;
}


#session {
  position: absolute;
  right: 10px;
  top: 5px;
}

a {
  color: #3B5998;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

div#session a {
  color: #999;
}

div#navigation {
  background: #DDD;
  padding: 5px 10px;
}

div#navigation a {
  font-weight: bold;
  color: #555;
}

div#navigation a:hover {
  color: #FFF;
  text-decoration: none;
}

#navigation {
  padding: 5px 0;
}

table {
  border-spacing: 0;
}

table#users tr {
  height : 32px;
}

tr {
}

td, th  {
  padding: 3px 10px;
  border-bottom: solid 1px #DDD;
}

td.number {
  text-align: right;
}

p, dd, dt {
}

dl {
  display:block;
}

span.nickname {
  font-size: 120%;
  font-weight:bold;
}

dt {
  font-weight:bold;
  width: 200px;
  float: left;
  clear: left;
  padding: 0 0 5px 0;
}

dd {
  float: left;
}

h2 {
  clear:left;
}

.notice { background: #efe; color: #040; border: 2px #484 solid; padding: 10px; margin-bottom: 1em; }
.warning { background: #ffe; color: #440; border: 2px #884 solid; padding: 10px; margin-bottom: 1em; }
.error { background: #fee; color: #400; border: 2px #844 solid; padding: 10px; margin-bottom: 1em; }

