<% title "List Users" %>

<table id="users">
  <% for user in @users %>
    <tr>
      <td><%= link_to user.display_name, user_path(user) %></td>
    </tr>
  <% end %>
</table>

<% if @current_user.admin? %>
  <%= link_to "New User", new_user_path %>
<% end %>
