<p>Welcome to roster program.</p>

<p>I couldn't decide whether to put the "readme" on the front page or not so I just decided put it <%= link_to "here", readme_path %>.</p>

<p>tl;dr: <br />This is a <strong>wiki</strong>-type roster. Feel free to edit other people's info, but <em>no drama please</em>. <br />Send suggestions, questions, etc. to me (bryan.bibat@gmail.com) or the other <%= link_to "admins", users_path + "?admin=A" %>.</p>
