<p>Welcome to roster program.</p>

<p>I couldn't decide whether to put the "readme" on the front page or not so I just decided put it <strong><%= link_to "here", readme_path %></strong>.</p>

<p>tl;dr: <br />
This is a <strong>wiki</strong>-type roster. Feel free to edit other people's info, but <em>no drama please</em>. <br />
Log all suggestions, questions, etc. at the <%= link_to "Redmine Issue Tracker", "http://redmine.bryanbibat.net/projects/ame-roster" %>. You can also send them via e-mail to Bry (bryan.bibat@gmail.com) or the other <%= link_to "admins", users_path + "?admin=A" %>.</p>
