<% title "Editing Committee" %>

<h1>Editing Committee</h1>

<%= render :partial => 'form', :locals => { :button_label => 'Update' } %>

<p>
<%= link_to 'Show', @committee %> |
<%= link_to 'Back', committees_path %>
</p>
