<% title "Committees" %>

<h1>Listing Committees</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Full name</th>
    <th>Years Active</th>
  </tr>

<% @committees.each do |committee| %>
  <tr>
    <td><%=link_to (h committee.code), committee %></td>
    <td><%=h committee.full_name %></td>
    <td><%= "#{committee.year_added} - #{committee.year_removed ||= "present"}" %></td>
  </tr>
<% end %>
</table>

<% if current_user.admin? %> 
  <p><%= link_to 'New committee', new_committee_path %></p>
<% end %>
