<h1>Reports</h1>

<p><%= link_to "Download Complete Roster (.csv)", complete_reports_path %></p>

<p><%= link_to "Download Member Roster (.csv)", members_reports_path %></p>

<p><%= link_to "Download Alumni Roster (.csv)", alumni_reports_path %></p>
