<p>
  <b>Code:</b>
  <%=h @system_parameter.code %>
</p>

<p>
  <b>Value:</b>
  <%=h @system_parameter.value %>
</p>


<%= link_to 'Edit', edit_system_parameter_path(@system_parameter) %> |
<%= link_to 'Back', system_parameters_path %>